

# Or, ignore an entire directory of third-party libraries
staticfiles/vendor/* linguist-vendored
# Ignore the collected static files for production
staticfiles/* linguist-vendored
# You can also ignore Javascript libraries
static/js/jquery.min.js linguist-vendored

# Ignore all files in the static/css directory
static/css/* linguist-vendored
# Ignore all files in the static/css directory
staticfiles/css/* linguist-vendored